@using System.Globalization;
@using AnimeSearch.Data.Models
@using AnimeSearch.Services
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["title"];

    var action = "Search";
    var old = false;
    var dayCita = ViewData["citation"] as Citations;
}

<header>
    <link rel="stylesheet" href="~/css/home.min.css" asp-append-version="true" />
    <script type="text/javascript" src="~/js/Home.min.js" asp-append-version="true"></script>
</header>

<div class="text-center text-white">
    <h1 class="display-4">@Localizer["bienvenue"]</h1>

    <p>
        @Localizer.GetHtml("last_infos")
    </p>
    <p>
        @Localizer.GetHtml("site_descr")
    </p>

    @if (ViewData["old"] is true)
    {
        action = "SearchSerie";
        old = true;
    }

    <div class="text-center">
        <div class="container h-100">
            <div class="d-flex justify-content-center h-100">
                <div class="searchbar">
                    <form asp-action="@action" asp-controller="Home" method="@(old ? "get" : "post")" id="dform">
                        <input id="searchBar" class="search_input text-white" type="text" name="q" placeholder="Search...">
                        <button type="submit" class="search_icon float-right rounded-circle" id="gss"><b style="position: absolute; margin-right: 15px; margin-top: 15px;">+</b><i class="fas fa-search"></i></button>

                        <div class="dcm" style="display: none;">
                            <div id="rmenu" class="bg-dark border border-white rounded ">
                                <button type="submit" class="btn btn-dark w-100">@Localizer["simple"]</button>
                                <button type="submit" name="t" value="true" class="btn btn-dark w-100">@Localizer["multiple"]</button>
                            </div>
                        </div>
                    </form>

                    <div id="propositions" class="propositions container">
                    </div>

                    <div class="d-flex justify-content-center fixed-top h-100 align-items-center" style="display: none!important; z-index: 10;" id="loading">
                        <div class="w-100 h-100 bg-dark" style="opacity: 0.6;"></div>
                        <div class="position-absolute">
                            @Localizer["recherche..."]
                            <img style="max-height: 35px;" class="align-middle" src="ressources/images/loading_sharingan.svg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (!old)
        {
            <div class="row mt-4">
                @if (dayCita != null)
                {
                    <div class="col-11">
                        <p class="w-100 text-center" id="cj" data-toggle="tooltip" data-placement="top" title="@Localizer["citation of day"]">@dayCita.Contenue - @dayCita.AuthorName </p>
                    </div>
                }
                <div class="@(dayCita != null ? "col-lg-auto" : "") col">
                    <button href="#" data-toggle="modal" data-target="#addCit" data-toggle="tooltip" data-placement="top" title="@Localizer["propose citation"]" class="square24 border-0 rounded-circle border-white bg-success text-white text-decoration-none">+</button>
                </div>

                <!-- Modal Add cita -->
                <div class="modal fade" id="addCit" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content bg-dark text-white">
                            <div class="modal-header">
                                <h5 class="modal-title">@Localizer["add_cita"]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body text-left">
                                <label for="auteur">@Localizer["auteur"]:</label>
                                <input name="auteur" id="auteur" type="text" maxlength="50" class="w-100" />
                                <label for="contenue">@Localizer["contenue"]:</label>
                                <input name="contenue" id="contenue" type="text" maxlength="150" class="w-100" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">@Localizer["annuler"]</button>
                                <button type="button" class="btn btn-primary" id="valCit" data-dismiss="modal">@Localizer["proposer"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<!-- Modal Settings -->
<footer class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content bg-dark text-white">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Ordre de recherche</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Attention, changer l'ordre peut ralentir la recherche (~3 fois plus long)</p>

                <table class="table table-dark">
                    @{
                        if (ViewData["languages"] is not null and CultureInfo[] tabCultures)
                        {
                            foreach (CultureInfo c in tabCultures)
                            {
                        <tr id="@c.EnglishName" draggable="true" ondrop="drop(event)" ondragover="allowDrop(event)" ondragstart="drag(event)"><td>@c.DisplayName</td></tr>
                            }
                        }
                    }
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="btnOK" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
    <a class="d-none d-print-none" style="display: none;" href="~/" id="urlbase"></a>
</footer>

@if(!old)
{
    <conf id="liveConf" style="left: 0; width: 200px; height: 200px;">
        <script src="~/lib/live/autoload.min.js"></script>
    </conf>
}

@{
    ViewData["aideHTML"] = Localizer["aide"].Value;
}