@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AS Search</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/lib/react/react.@(Utilities.IN_DEV ? "development" : "production").js"></script>
    <script type="text/javascript" src="~/lib/react/react-dom.@(Utilities.IN_DEV ? "development" : "production").js"></script>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link type="image/x-icon" rel="icon" href="~/ressources/icons/favicon.ico" />

    @if (ViewData["google_ads_client_id"] is not null and string googleads_client_id)
    {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=@googleads_client_id" crossorigin="anonymous"></script>
    }
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand p-0" asp-area="" asp-controller="Home" asp-action="Index"><img class="icon" src="~/ressources/images/full-logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item align-self-sm-center">
                            <a class="nav-link link-white" asp-controller="API" asp-action="Index">API</a>
                        </li>
                        <li class="nav-item align-self-sm-center">
                            <a class="nav-link link-white" asp-controller="Home" asp-action="Historique">Données</a>
                        </li>
                        <li class="nav-item align-self-sm-center">
                            <a class="nav-link link-white" asp-area="" asp-controller="Home" asp-action="AddSites">Ajouter un site</a>
                        </li>
                        @if (!string.IsNullOrWhiteSpace(Context.Session.GetString("adtoken")))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle item-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu bg-dark border-white" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item item-dark" asp-controller="admin" asp-action="Index" title="Page d'administration">Page Admin</a>
                                    <a class="dropdown-item item-dark" asp-controller="admin" asp-action="error" title="Page avec toutes les erreurs (brut)">Page d'erreurs</a>
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle item-dark" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Autres
                            </a>
                            <div class="dropdown-menu bg-dark border-white" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item item-dark" href="https://github.com/Dim145/AnimeSearch">Github</a>
                                <a title="Page principale des Dons." class="dropdown-item item-dark" asp-controller="home" asp-action="dons">Dons</a>
                                @if (ViewData["old"] is not null and bool old && old)
                                {
                                    <a title="Utilise le nouveau script de recherche" class="dropdown-item item-dark" asp-controller="Home" asp-action="Index">Nouvelle Version</a>
                                }
                                else
                                {
                                    <a title="Utilise l'ancien script de recherche => séries seulement" class="dropdown-item item-dark" asp-controller="Home" asp-action="Index" asp-route-old="true">Ancienne Version</a>
                                }
                            </div>
                        </li>
                    </ul>
                    @{
                        string username = @ViewData["username"]?.ToString();
                        if (username == Utilities.GUEST)
                        {
                            <a class="nav navbar-text" id="change_username" title="change username" href="#">Hello @username </a>
                        }
                        else
                        {
                            <p class="nav navbar-text" id="username">Hello @username</p>
                        }

                        if (ViewData["params"] is not null and bool prefs && prefs)
                        {
                            <a class="nav-item flex-grow-0" data-toggle="modal" data-target="#exampleModal" href="#" id="prefs"><img src="~/webfonts/settings.png" /></a>
                        }
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (ViewData["heure"] is not null and DateTime heure)
        {
            <div class="text-white position-absolute" style="margin-top: -10px;">Heure serveur: <div id="heure" class="position-absolute text-white" style="display: contents;" title="MM/dd/yyyy - HH:mm">@heure.ToString("MM/dd/yyyy HH:mm")</div></div>
        }

        <main role="main" class="pb-3" style="padding-top: 10px;">
            @if (ViewData["aideHTML"] is not null)
            {
                <div id="aide" class="text-white" data-toggle="modal" data-target="#aideModal">?</div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-white">
            <div class="row">
                <div class="col-auto pr-0">
                    <a>&copy;</a> 2021 - <a target="_blank" href="https://dim145.fr" class="link-white">Dim. Dubois</a> - <a asp-controller="home" asp-action="Contact">Contact</a> - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                @if (!string.IsNullOrWhiteSpace(Context.Session.GetString("adtoken")))
                {
                    <div class="col text-right pl-0">
                        <a class="btn btn-dark pr-0" asp-controller="admin" asp-action="Logout" title="déconnexion"><img height="40" src="~/ressources/images/logout.png" /></a>
                    </div>
                }
                @if (ViewData["Paypal_mail"] is not null and string paypalMail && !string.IsNullOrWhiteSpace(paypalMail))
                {
                    <div class="col-auto position-absolute" style="bottom: 70px; right: 0;">
                        <form action="/api/ippd" method="post">
                            <input type="hidden" name="cmd" value="_donations" />
                            <input type="hidden" name="business" value="@paypalMail" />
                            <input type="hidden" name="currency_code" value="EUR" />
                            <input type="hidden" name="item_name" value="Donation pour soutenir le site. Couvrir les frais du serveur/domaines ! Et migrer vers un serveur plus puissant avec suffisament de dons." />
                            <input type="hidden" name="tax" value="0" />
                            <input type="hidden" name="image_url" value="@(Utilities.BASE_URL)ressources/images/full-logo.png" />
                            <input type="hidden" name="cancel_return" value="@(Utilities.BASE_URL)api/dppd" />
                            <input type="hidden" name="return" value="@(Utilities.BASE_URL)api/fppd" />

                            <div class="d-flex justify-content-center h-100">
                                <div class="paypal_form p-0 d-flex">
                                    <input class="paypal_amout text-white" type="number" step="any" name="amount" placeholder="5.94" min="1" style="padding-bottom: 0; padding-top: 0;" required>
                                    <input class="float-right" type="image" src="~/ressources/images/paypal.png" height="40" border="0" name="submit" title="Faire un don avec PayPal" alt="Faire un don avec PayPal" />
                                </div>
                            </div>
                        </form>
                    </div>
                }
            </div>
        </div>

    </footer>

    @if (ViewData["aideHTML"] is not null and string aide)
    {
        <div class="modal fade" id="aideModal" tabindex="-1" role="dialog" aria-labelledby="aideModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aideModalLabel">Aide</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow: auto; max-height: 75vh;">
                        @{
                            this.WriteLiteral(aide);
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    }

    @await RenderSectionAsync("Scripts", required: false)
    @Html.ReactInitJavaScript()
</body>
</html>
