@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Identity;
@using AnimeSearch.Database

@inject SignInManager<Users> SignInManager

@{
    var nivAcce = ViewData["na"] is not null and int niv ? niv : 0;

    var donsNb = 0;

    if (ViewData["Paypal_mail"] is not null and string paypalMail && !string.IsNullOrWhiteSpace(paypalMail))
        donsNb = 1;

    if (ViewData["hasOpenNodeAPIKEY"] is not null and bool bo ? bo : false)
        donsNb = 3;
}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Site permettant de trouver où regarder un film, une série ou un anime. Le serveur recherchera pour vous votre recherche sur une liste de site, et vous donneras le nombre de résultats ainsi qu'un lien direct pour chaque site." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google" content="nositelinkssearchbox">
    <meta name="google-site-verification" content="@(ViewData["google-site-verification"] is not null and string googleId && !string.IsNullOrWhiteSpace(googleId) ? googleId : "")" />
    <title>@ViewData["Title"] - ASM Search</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script type="text/javascript" src="~/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
    <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    <link type="image/x-icon" rel="icon" href="~/favicon.ico" />
    <base href="~/" />
    <script src="_content/KeudellCoding.Blazor.AdvancedBlazorSelect2/Select2JsInterop.js" type="text/javascript" language="javascript"></script>
    <script src="_content/KeudellCoding.Blazor.AdvancedBlazorSelect2/lib/select2/js/select2.full.min.js" type="text/javascript" language="javascript"></script>
    <link href="_content/KeudellCoding.Blazor.AdvancedBlazorSelect2/lib/select2/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/fontwave_all.min.css" asp-append-version="true" />

    @if (ViewData["google_ads_client_id"] is not null and string googleads_client_id)
    {
        <script type="text/javascript">
            window._mNHandle = window._mNHandle || {};
            window._mNHandle.queue = window._mNHandle.queue || [];
            medianet_versionId = "3121199";
        </script>
        <script src="https://contextual.media.net/dmedianet.js?cid=@googleads_client_id" async="async"></script>
    }
</head>
<body class="bg-dark">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand p-0" asp-area="" asp-controller="Home" asp-action="Index"><img class="icon" src="~/ressources/images/full-logo.svg" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item align-self-sm-center">
                            <a class="nav-link link-white" asp-controller="API" asp-action="Index">API</a>
                        </li>
                        <li class="nav-item align-self-sm-center">
                            <a class="nav-link link-white" asp-controller="Home" asp-action="Historique">Données</a>
                        </li>
                        <li class="nav-item align-self-sm-center">
                            <a class="nav-link link-white" asp-controller="Home" asp-action="AddSites">Proposer un site</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && nivAcce > 0)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle item-dark" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Admin
                                </a>
                                <div class="dropdown-menu bg-dark border-white" aria-labelledby="navbarDropdown">
                                    @if(nivAcce >= Utilities.DROIT_VUE_HAUT)
                                    {
                                        <a class="dropdown-item item-dark" asp-controller="admin" asp-action="Index" title="Page d'administration">Acceuil</a>
                                    }
                                    @if(nivAcce >= Utilities.DROIT_VUE_BAS)
                                    {
                                        <a class="dropdown-item item-dark" asp-controller="admin" asp-action="sites" title="Page d'administration des sites">Sites</a>
                                    }
                                    @if(nivAcce >= Utilities.DROIT_VUE_BAS)
                                    {
                                        <a class="dropdown-item item-dark" asp-controller="admin" asp-action="citations" title="Page d'administration des citations">Citations</a>
                                    }
                                    @if(nivAcce >= Utilities.DROIT_VUE_HAUT)
                                    {
                                        <a class="dropdown-item item-dark" asp-controller="admin" asp-action="error" title="Page avec toutes les erreurs (brut)">Page d'erreurs</a>
                                    }
                                    @if (User.IsInRole(Utilities.SUPER_ADMIN_ROLE.Name))
                                    {
                                        <a class="dropdown-item item-dark" asp-controller="admin" asp-action="Roles" title="Page de gestion des rôles (Super-Admin)">Roles</a>
                                        <a class="dropdown-item item-dark" asp-controller="settings" asp-action="index" title="Pamètres du site">Paramètres</a>
                                    }
                                </div>
                            </li>
                        }
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle item-dark" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Autres
                            </a>
                            <div class="dropdown-menu bg-dark border-white" aria-labelledby="navbarDropdown2">
                                <a class="dropdown-item item-dark" asp-action="advanceSearch" asp-controller="home">Recherche avancée</a>
                                @if(!string.IsNullOrWhiteSpace(Utilities.DISCORD_INVITE_LINK))
                                {
                                    <a class="dropdown-item item-dark" asp-controller="home" asp-action="botdiscord">Bot Discord</a>
                                }
                                @if(!string.IsNullOrWhiteSpace(Utilities.TELEGRAM_INVITE_LINK))
                                {
                                    <a class="dropdown-item item-dark" asp-controller="home" asp-action="bottelegram">Bot Télégram</a>
                                }
                                <a class="dropdown-item item-dark" href="https://github.com/Dim145/AnimeSearch">Github</a>
                                <a title="Page principale des Dons." class="dropdown-item item-dark" asp-controller="home" asp-action="dons">Dons</a>
                                <a title="Liste des autres domaines et serveurs" class="dropdown-item item-dark" asp-controller="home" asp-action="Domaines">Domaines</a>
                                @if (ViewData["old"] is not null and bool old && old)
                                {
                                    <a title="Utilise le nouveau script de recherche" class="dropdown-item item-dark" asp-controller="Home" asp-action="Index">Nouvelle Version</a>
                                }
                                else
                                {
                                    <a title="Utilise l'ancien script de recherche => séries seulement" class="dropdown-item item-dark" asp-controller="Home" asp-action="Index" asp-route-old="true">Ancienne Version</a>
                                }
                            </div>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        @if (ViewData["heure"] is not null and DateTime heure)
        {
            <div class="text-white position-absolute" style="margin-top: -10px;">Heure serveur: <div id="heure" class="position-absolute text-white" style="display: contents;" title="MM/dd/yyyy - HH:mm">@heure.ToString("MM/dd/yyyy HH:mm")</div></div>
        }

        <main role="main" class="pb-3" style="padding-top: 10px;">
            @if (ViewData["aideHTML"] is not null)
            {
                <div id="aide" class="text-white" data-toggle="modal" data-target="#aideModal">?</div>
            }
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container text-white">
            <div class="row">
                <div class="col-auto pr-0">
                    <a>&copy;</a> @DateTime.Now.Year - <a target="_blank" href="https://dim145.fr" class="link-white">Dim. Dubois</a> - <a asp-controller="home" asp-action="Contact">Contact</a> - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="col text-right pl-0">
                        <form id="logoutForm" method="post" asp-controller="Identity" asp-action="LogoutPost" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button id="logout" type="submit" class="btn btn-dark pr-0"><img height="40" src="~/ressources/images/logout.png" /></button>
                        </form>
                    </div>
                }
                @if (donsNb > 0)
                {
                    <div class="col-auto position-absolute" style="bottom: 70px; right: 0px;">
                        <div class="d-flex justify-content-center h-100">
                            <button type="button" class="btn rounded-circle" id="swalDon" data-props="@donsNb"><img width="50" src="~/ressources/images/donate.svg" /></button>
                        </div>
                    </div>

                    <script type="text/javascript" src="~/js/dons.min.js"></script>
                }
            </div>
        </div>

    </footer>

    @if (ViewData["aideHTML"] is not null and string aide)
    {
        <div class="modal fade" id="aideModal" tabindex="-1" role="dialog" aria-labelledby="aideModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content bg-dark text-white">
                    <div class="modal-header">
                        <h5 class="modal-title" id="aideModalLabel">Aide</h5>
                        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="overflow: auto; max-height: 75vh;">
                        @{
                            WriteLiteral(aide);
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
                    </div>
                </div>
            </div>
        </div>
    }

    <div id="components-reconnect-modal" class="my-reconnect-modal components-reconnect-hide mb-3 ml-3">

        <div class="waiting">
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <span class="bg-warning rounded mr-2" style="width: 20px; height: 20px;"></span>
                    <strong class="mr-auto">Système</strong>
                    <small class="text-muted">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</small>
                </div>
                <div class="toast-body">
                    Connection avec le serveur perdue.<br />
                    Tentative de reconnection en cours...

                    <div class="spinner-border text-warning position-absolute mt-5 ml-5" style="top: 0;" role="status">
                        <span class="sr-only">Loading...</span>
                        <div id=""></div>
                    </div>

                    <br /><br />
                    Les composants dynamiques sont inutilisable pendant ce temps.
                </div>
            </div>
        </div>
        <div class="failed">
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <span class="bg-danger rounded mr-2" style="width: 20px; height: 20px;"></span>
                    <strong class="mr-auto">Système</strong>
                    <small class="text-muted">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</small>
                </div>
                <div class="toast-body">
                    Les tentatives ont échouées.<br />
                    Le serveur ne répond plus.
                </div>
            </div>
        </div>
        <div class="rejected">
            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <span class="bg-danger rounded mr-2" style="width: 20px; height: 20px;"></span>
                    <strong class="mr-auto">Système</strong>
                    <small class="text-muted">@DateTime.Now.ToString("dd/MM/yyyy HH:mm")</small>
                </div>
                <div class="toast-body">
                    Le serveur à rejeté votre connection.<br />
                    Veuillez recharger la page.
                </div>
            </div>
        </div>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="_content/CurrieTechnologies.Razor.SweetAlert2/sweetAlert2.min.js"></script>
    <link rel="stylesheet" href="_content/CurrieTechnologies.Razor.SweetAlert2/darkTheme.min.css" id="darkSweetAlert" />

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
